@use "../base";

$width: 16rem;

html,
body {
    margin: 0;
    padding: 0;
    @include base.width();
}

#root {
    @include base.width();
}

.container {
    width: $width;
    @include base.marginAuto();
}