@use "./base";

$width: 16rem;
$titleHeight: 3rem;
$itemWidth: 16rem;
$itemHeight: 1.5rem;
$minHeight: 26rem;

html,
body {
    margin: 0;
    padding: 0;
    @include base.width();
}

#root {
    @include base.width();
}

.container {
    width: $width;
    @include base.marginAuto();
}

.dishi-title{
    @include base.width();

    height: $titleHeight;
    line-height: $titleHeight;
    border-bottom: base.$borderDotted;

    @include base.font($size: 24px, $align: center);
    font-weight: 600;
}

.dishi-container{
    width: $width;
    min-height: $minHeight;
    padding: 2rem 0;
    border-bottom: base.$borderDotted;

    .dishi-input{
        width: $itemWidth;
        height: auto;
        @include base.marginAuto();

        font-size: 16px;
    }
    .dishi-list{
        width: $itemWidth;
        @include base.marginAuto();

        .dishi-item{
            width: calc(100% - 20px);
            height: $itemHeight;
            line-height: $itemHeight;
            padding: 0 10px;
            border-bottom: base.$borderDotted;
            @include base.cursor();

            font-size: 16px;
        }
        .dishi-item:hover{
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }
}