@use "./base";

html,
body {
    margin: 0;
    padding: 0;
    @include base.width();
}

#root {
    @include base.width();
}

.container {
    width: 1400px;
    @include base.marginAuto();

    .dishi-container{
        width: 1400px;
        min-height: 900px;
        padding: 50px 0;
        border-bottom: base.$borderDotted;

        .dishi-input{
            width: 400px;
            height: auto;
            @include base.marginAuto();
        }
        .dishi-list{
            width: 400px;
            @include base.marginAuto();

            .dishi-item{
                width: calc(100% - 20px);
                height: 50px;
                line-height: 50px;
                padding: 0 10px;
                border-bottom: base.$borderDotted;
                @include base.cursor();
            }
            .dishi-item:hover{
                background-color: rgba($color: #000000, $alpha: 0.1);
            }
        }
    }
    .dishi-other{
        width: 1400px;
    }
}